@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%buttonStyle {
  border: 0;
  background-color: transparent;
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 600;
}

%inputStyle {
  border: 0;
  border-radius: 8px;
  padding: 4px 8px;

  &:focus {
    outline: 0;
  }
}

%opacityBackgroundStyle {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 16px;
}

body {
  margin: 0;
  font-family: "Pretendard";
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);

  .time {
    font-size: 120px;
  }

  .quotes {
    @extend %opacityBackgroundStyle;

    position: relative;
    font-size: 40px;
    margin-top: 40px;

    .quotesAddButton {
      @extend %buttonStyle;
      background-color: white;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      display: none;
    }

    &:hover {
      .quotesAddButton {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    margin-top: 16px;
    display: none;

    .newQuotesInput {
      @extend %inputStyle;
      font-size: 32px;
    }

    .newQuotesButton {
      @extend %buttonStyle;
      margin-left: 20px;
      background-color: darkcyan;
      color: white;
    }
  }

  .search {
    margin: 60px 0;
    font-size: 32px;

    .searchTitle {
      @extend %opacityBackgroundStyle;

      display: flex;
      align-items: center;

      .searchLogo {
        width: 32px;
        height: 32px;
        animation: spin 20s linear infinite;
        margin-right: 20px;
        background-color: white;
        border-radius: 9999px;
      }
    }
    .searchForm {
      margin-top: 12px;
      display: flex;
      justify-content: center;

      .searchInput {
        @extend %inputStyle;
        width: 100%;
        font-size: 20px;
      }

      .searchButton {
        @extend %buttonStyle;
        background-color: aquamarine;
        margin-left: 12px;
        width: 25%;
      }
    }
  }

  .searchResult {
    display: none;
    font-size: 20px;
    color: black;
    padding: 40px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;

    img {
      width: 256px;
      height: 256px;
    }

    .nftHover {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;
      width: 256px;
      height: 256px;
      background-color: rgba(0, 0, 0, 0.5);

      a {
        @extend %buttonStyle;
        background-color: aliceblue;
        color: black;
      }

      .nftHoverClose {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        margin: -8px;
        border: 0;
        border-radius: 9999px;
        font-size: 20px;
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      .nftHover {
        display: flex;
      }
    }
  }

  .nftView {
    @extend %buttonStyle;

    background-color: aliceblue;
    color: black;

    position: fixed;
    display: none;
    top: 0;
    right: 0;
    margin: 24px;
  }
}
